* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, serif;
    background: linear-gradient(to bottom right, #3498db, #8e44ad); /* Gradient background */
    color: white;
    text-align: center;
    margin-top: 0; /* Remove any margin at the top of the body */
}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    padding: 20px;
    font-size: 48px; /* Bigger font size for the title */
    color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container {
    text-align: center;
}

.stopwatch {
    background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
}

#time {
    font-size: 50px;
    margin-bottom: 20px;
}

.controls button {
    background-color: #2980b9;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #3498db;
}

.laps ul {
    list-style: none;
    padding: 0;
}

.laps li {
    background-color: #34495e;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}
